.addUser {
  width: 25%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 50px auto;
  padding: 40px 30px;
}

.addUserForm {
  margin-top: 20px;
}

.hh {
  text-decoration: none;
  background-color: #6a1b9a;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
}

.addUserForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.addUserForm .inputGroup label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.addUserForm .inputGroup input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s;
}

.addUserForm .inputGroup input:focus {
  border-color: #6a1b9a;
}

.addUserForm .inputGroup button {
  border: 0;
  outline: none;
  background-color: #6a1b9a;
  color: white;
  font-weight: 600;
  padding: 15px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addUserForm .inputGroup button:hover {
  background-color: #4a148c;
}

.addUser h3 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
